<a href="https://colab.research.google.com/github/nogalinny/AluraONE01/blob/main/AluraStoreBrasil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importação dos dados

In [37]:
# Importando a biblioteca principal para manipulação de dados
import pandas as pd

# URLs dos arquivos CSV das quatro lojas
url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

# Leitura dos arquivos CSV de cada loja em um DataFrame
loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

# Visualiza as primeiras linhas da loja 1 (checagem da estrutura dos dados)
loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

In [38]:
# Cria uma coluna identificando de qual loja veio cada linha
loja["loja"] = "loja_1"
loja2["loja"] = "loja_2"
loja3["loja"] = "loja_3"
loja4["loja"] = "loja_4"

# Concatena (junta) os 4 DataFrames em um único DataFrame geral
df = pd.concat([loja, loja2, loja3, loja4], ignore_index=True)

In [39]:
# Converte a coluna 'Data da Compra' de texto (string) para formato de data (datetime)
# O parâmetro 'format' define o padrão dia/mês/ano do arquivo original
df["Data da Compra"] = pd.to_datetime(df["Data da Compra"], format="%d/%m/%Y")

In [40]:
# Cria uma nova coluna chamada 'faturamento'
# Faturamento aqui foi definido como a soma do Preço do produto + Frete
df["faturamento"] = df["Preço"] + df["Frete"]

#1. Análise do faturamento

In [41]:
# Cria uma coluna 'ano_mes' agrupando a data no nível ano-mês
# Isso permite analisar o faturamento por período mensal
df["ano_mes"] = df["Data da Compra"].dt.to_period("M")

# Agrupa o faturamento por ano-mês e soma o valor em cada período
faturamento_mensal = df.groupby("ano_mes")["faturamento"].sum()

In [42]:
# Exibe a série de faturamento mensal
faturamento_mensal

ano_mes
2020-01    150740.456760
2020-02    151612.488427
2020-03    169375.048611
2020-04    191170.080751
2020-05    171546.254346
2020-06    135734.086463
2020-07    167384.869048
2020-08    156854.692851
2020-09    163225.569386
2020-10    127275.907960
2020-11    141220.428687
2020-12    158480.378595
2021-01    141785.635684
2021-02    156057.970687
2021-03    168399.594819
2021-04    169332.053186
2021-05    144032.610405
2021-06    144208.620002
2021-07    186732.429620
2021-08    178738.368457
2021-09    169090.393444
2021-10    161777.587210
2021-11    184851.434883
2021-12    194908.984880
2022-01    199435.956398
2022-02    151976.708383
2022-03    146037.744623
2022-04    149053.746674
2022-05    158352.290453
2022-06    135801.817047
2022-07    135510.594500
2022-08    156728.113920
2022-09    182911.051249
2022-10    130108.900420
2022-11    154933.959647
2022-12    163538.393612
2023-01    135343.830267
2023-02    152780.783609
2023-03    147371.616185
Freq: M, Name: faturamento, dtype: float64

In [44]:
# Garante que a coluna de faturamento está criada (repetido, mas não atrapalha)
df["faturamento"] = df["Preço"] + df["Frete"]

# Agrupa os dados por categoria de produto e calcula o faturamento total por categoria
faturamento_por_categoria = (
    df.groupby("Categoria do Produto")["faturamento"]
      .sum()
      .sort_values(ascending=False)  # Ordena do maior faturamento para o menor
)

In [45]:
# Exibe o faturamento por categoria
faturamento_por_categoria

Categoria do Produto
eletronicos              2.332048e+06
eletrodomesticos         1.860199e+06
moveis                   1.064150e+06
instrumentos musicais    4.897015e+05
esporte e lazer          2.008919e+05
brinquedos               1.035024e+05
utilidades domesticas    8.092172e+04
livros                   5.300743e+04
Name: faturamento, dtype: float64

In [46]:
# Agrupa os dados por loja e soma o faturamento de cada uma
faturamento_por_loja = df.groupby("loja")["faturamento"].sum()

In [47]:
# Exibe o faturamento total por loja
faturamento_por_loja

loja
loja_1    1.616347e+06
loja_2    1.567773e+06
loja_3    1.542048e+06
loja_4    1.458253e+06
Name: faturamento, dtype: float64

# 2. Vendas por Categoria

In [48]:
# Conta quantas vendas existem em cada categoria de produto
# value_counts conta a frequência de cada categoria
vendas_por_categoria = (
    df["Categoria do Produto"]
      .value_counts()
      .sort_values(ascending=False)  # Ordena da categoria mais vendida para a menos vendida
)

In [50]:
# Exibe a quantidade de vendas por categoria
vendas_por_categoria

Categoria do Produto
moveis                   1886
eletronicos              1772
brinquedos               1290
eletrodomesticos         1149
esporte e lazer          1113
instrumentos musicais     753
livros                    742
utilidades domesticas     730
Name: count, dtype: int64

# 3. Média de Avaliação das Lojas

In [51]:
# Calcula a média da avaliação da compra por loja
# Agrupa pela coluna 'loja' e tira a média das notas de 'Avaliação da compra'
media_avaliacao_lojas = (
    df.groupby("loja")["Avaliação da compra"]
      .mean()
      .round(2)  # Arredonda o resultado para 2 casas decimais
)

In [52]:
# Exibe a média de avaliação de cada loja
media_avaliacao_lojas

loja
loja_1    3.98
loja_2    4.04
loja_3    4.05
loja_4    4.00
Name: Avaliação da compra, dtype: float64

# 4. Produtos Mais e Menos Vendidos

In [53]:
# Identifica os 10 produtos mais vendidos
# value_counts conta quantas vezes cada produto aparece
produtos_mais_vendidos = (
    df["Produto"]
      .value_counts()
      .head(10)  # Seleciona apenas os 10 primeiros (mais vendidos)
)

In [54]:
# Exibe os produtos mais vendidos e suas quantidades
produtos_mais_vendidos

Produto
Cômoda                      210
Carrinho controle remoto    206
Micro-ondas                 206
Bateria                     203
Cama king                   201
Secadora de roupas          200
Modelagem preditiva         200
Jogo de panelas             200
Cama box                    199
Blocos de montar            199
Name: count, dtype: int64

In [55]:
# Identifica os 10 produtos menos vendidos
# Aqui também usamos value_counts, mas pegamos os últimos da lista
produtos_menos_vendidos = (
    df["Produto"]
      .value_counts()
      .tail(10)  # Seleciona os 10 últimos (menos vendidos)
)

In [56]:
# Exibe os produtos menos vendidos e suas quantidades
produtos_menos_vendidos

Produto
Panela de pressão              172
Smartwatch                     172
Jogo de copos                  169
Poltrona                       168
Assistente virtual             167
Ciência de dados com python    166
Guitarra                       165
Mochila                        163
Headset                        158
Celular ABXY                   157
Name: count, dtype: int64

# 5. Frete Médio por Loja

In [57]:
# Calcula o frete médio por loja
# Agrupa por loja e tira a média da coluna 'Frete'
frete_medio_loja = (
    df.groupby("loja")["Frete"]
      .mean()
      .round(2)  # Arredonda para 2 casas decimais
)

In [58]:
# Exibe o frete médio de cada loja
frete_medio_loja

loja
loja_1    34.69
loja_2    33.62
loja_3    33.07
loja_4    31.28
Name: Frete, dtype: float64